discord.py
aiofiles
dropbox
plotly
unidecode
kaleido==0.2.1
scikit-learn
simpleeval
google-generativeai
grpcio
aiohttp
pandas
numpy
orjson
sentry-sdk
aiofiles
aiohttp
discord.py
dropbox
google-generativeai
grpcio
kaleido==0.2.1
numpy
orjson
pandas
plotly
scikit-learn
sentry-sdk
simpleeval
unidecode
